@import '~node_modules/modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  background-image: url('../images/k-71.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  color: currentColor;
}
