<div class='card'>
  <p>Picture Test HBS
  </p>
  <h1>It`s WORKS!!!!! )))))</h1>

  <a href='#'><img
      src='https://www.gifki.org/data/media/107/tanets-animatsionnaya-kartinka-0472.gif'
      border='0'
      alt='tanets-animatsionnaya-kartinka-0472'
    /></a>
</div>